// TipoGrafia
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&family=Staatliches&display=swap');
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;
// Colores
$Blanco: #FFFF;
$Negro: #0000;
$VerdeLimon: #C1FF72;
$Verde: #7ED957;
$NarajaClaro: #FFDE59;
$Naranja: #FFBD59;
$CelesteOscuro:#0CC0DF;
$Celeste: #5CE1E6;
$Azul: #004AAD;
$Crema: #EBCC90;
// Medidas
$telefono: 468px;
$tablet: 768px;
$desktop: 992px;